// -----------------------------------------------
//
// Styling for the entire app
//
// -----------------------------------------------

@import '../styles/bootstrap/css/bootstrap.css';
@import (css) url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro&display=swap');

@import '../components/reusable/reusable.less';

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

// // Container
// mainContentContainer
// // Text
// smallText
// mediumText
// largeText

// // Link
// textLink

// // Colors
// whiteText
// goldText
// lightBlueText
// darkGreyText

// // Backgrounds
// lightBlueBackground
// navyBackground
