// -----------------------------------------------
//
// Index Styling
//
// -----------------------------------------------

#indexContainer {
	.jumbotronContainer {
		background-image: url('../public/images/jumbotron_5.jpg');
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 10rem;
		padding-bottom: 10rem;
		background-size: cover;
		height: 100vh;
	}

	.overlay {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);

		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.5);
		background-repeat: no-repeat;
		/* background-position: center; */
		padding-top: 12rem;
		/* padding-bottom: 28rem; */
		/* background-size: cover; */
		height: 100vh;
		position: relative;
		top: -160px;
		height: 100vh;
	}
	// .jumbotronText {
	// 	// .overlay {
	// 	width: 100%;
	// 	height: 100vh;
	// 	padding-top: 10rem;
	// 	padding-bottom: 10rem;
	// 	background-size: cover;
	// 	height: 100vh;
	// 	background-color: rgba(0, 0, 0, 0.5);
	// 	//   }
	// }

	// .jumbotron {
	// 	background-image: url(../public/images/1.jpg);
	// 	background-repeat: no-repeat;
	// 	background-position: center;
	// 	background-size: cover;
	// 	height: 35rem;
	// }

	.navigationButtonContainer {
		display: flex;
		justify-content: space-between;
		margin-top: 127px;
	}
}
