// -----------------------------------------------
//
// DataList Styling
//
// -----------------------------------------------

#dataListContainer {
	th.MuiTableCell-root.MuiTableCell-head {
		color: white;
		font-family: 'Source Sans Pro', sans-serif;
	}

	th.MuiTableCell-root.MuiTableCell-body {
		color: #eeb011;
		font-weight: bold;
	}

	td.MuiTableCell-root.MuiTableCell-body.projectTitle {
		color: white;
		font-weight: bold;
	}

	td.MuiTableCell-root.MuiTableCell-body {
		color: #a2a7b7;
	}

	.MuiPaper-root {
		background-color: transparent;
	}

	.MuiPaper-elevation1 {
		box-shadow: unset;
	}

	.MuiTableCell-root {
		border-bottom: none;
	}

	.MuiTableCell-body {
		font-family: inherit;
	}

	.faIcon {
		font-size: 18px;
		color: #eeb011;
	}

	.dataDropdownContainer {
		display: flex;
		background: #38445d 0% 0% no-repeat padding-box;
		padding: 25px;
		border-radius: 0px 0px 25px 25px;

		.dataPictureContainer {
			img {
				border-radius: 13px;
			}
		}
	}
}
